$selected-button-color: #5cb85c;

.configuration .btn-group .active {
  background-color: $selected-button-color;
  &:focus {
    background-color: $selected-button-color;
  }
}

.configuration .operator-button {
  font-weight: bold;
}

.configuration .select-operator {
  display: flex;
  align-items: stretch;
}

.configuration .alert {
  padding: 9px;
  margin: 0;
  margin-left: 5px;
}
