.problem {
  display: flex;
  justify-content: center;
}

.operators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
}

.answer-line {
  background-color: black;
  height: 3px;
  width: 170px;
}

.operand, .operator, .answer {
  line-height: 1;
  font-size: 100px;
}

.answer {
  opacity: 0;
}

.answer.visible {
  opacity: 1;
}

.answer.correct {
  color: green;
}

.answer.incorrect {
  color: red;
}
